<header>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Commerce App</h1>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, molestiae? Reprehenderit deserunt nam temporibus odit repudiandae accusamus nemo maxime. Modi at quisquam culpa veritatis sint beatae architecto a quas ad!</p>
        </div>
    </div>
</header>
